@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.css");

.about-item a,
.company-item a,
.account-item a {
  color: white;
  opacity: 0.75;
}
.about-item a:hover,
.about-item a:focus-visible,
.company-item a:hover,
.company-item a:focus-visible,
.account-item a:hover,
.account-item a:focus-visible {
  opacity: 0.5;
}

#bottom-links-list a {
  color: white;
  opacity: 0.75;
}
#bottom-links-list a:hover,
#bottom-links-list a:focus-visible {
  opacity: 0.5;
}

.awards-list-item:hover,
.awards-list-item:focus-visible {
  opacity: 0.5;
  transition: all ease-in-out 0.2s;
}

.card {
  min-height: 280px;
}
