@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.css");

#hero-title {
  width: 60%;
}

@media screen and (max-width: 578px) {
  #hero-title {
    width: 100%;
  }
}

.about-item a,
.company-item a,
.account-item a {
  color: white;
  opacity: 0.75;
}
.about-item a:hover,
.about-item a:focus-visible,
.company-item a:hover,
.company-item a:focus-visible,
.account-item a:hover,
.account-item a:focus-visible {
  opacity: 0.5;
}

#bottom-links-list a {
  color: white;
  opacity: 0.75;
}
#bottom-links-list a:hover,
#bottom-links-list a:focus-visible {
  opacity: 0.5;
}

.awards-list-item:hover,
.awards-list-item:focus-visible {
  /* box-shadow: 0rem 0rem 1rem 0.5rem rgba(77, 138, 252, 0.45); */
  opacity: 0.5;
  transition: all ease-in-out 0.2s;
}

/* .awards-list-item > div {
  width: 100%;
  height: 100%;
} */
